form{
    background-color: white;
    border-radius: 20px;
    border: 1.5px solid black;
}
label{
    font-size:80%;
}
input{
    margin:auto;
}
input[type="submit"]{
    font-size:90%;	
}
input[type="text"], input[type="password"]{
    border-radius: 10px;
    border-color: lightgrey;
    font-size: 80%;
}
div.container{
    max-width: 60vw;
}
label{margin-left:12.5%}
small{font-size:60%}
div+p{font-size: 65%}

#eye:hover{cursor:pointer}